# Data Cleaning & Preprocessing

## Problem Statement

The dataset contains **missing values**, **duplicate records**,
**inconsistent text fields**, and **incorrect data types**.

The goal is to clean and prepare the data for analysis.

In [1]:
import pandas as pd, numpy as np

## Before Data Cleaning

In [2]:
df = pd.read_csv("messy_data.csv")
df

    id      name department       age    salary  joining_date       city
0    1     amit       Sales        25     50000    10-01-2021      delhi
1    2      Riya         HR       NaN    $60000    15-05-2020     Mumbai
2    3      John         IT        28     55000    15-03-2019      Delhi
3    4      Neha      Sales        35       NaN    01-07-2018  Bangalore
4    5      Amit      Sales  25 years    50,000    10-01-2021         DL
5    6  Vikram           IT        30     72000    20-11-2022    Chennai
6    7     Sonia         hr        29   58000/-    12-09-2021     mumbai
7    8     Rahul    sales         NaN     45000    10-04-2017      Delhi
8    9     Priya       IT          24     65000    22-01-2023       Pune
9   10      Amit   Sales           25    $50000    10-01-2021         dl
10  11     Karan    Finance        32     80000    05-12-2019  Bangalore
11  12     Sneha       Hr          27     52000    18-03-2021     Bombay
12  13     Rohan       IT    31 years       NaN    25-06-2021      Delhi
13  14    Anjali      Sales        26     48000    14-02-2022       Pune
14  15     Varun  finance          40     95000    30-10-2016    Chennai
15  15     Varun  finance          40     95000    30-10-2016    Chennai
16  16     Varun    Finance        40   95000/-    30-10-2016    Chennai
17  17     Megha         IT       NaN     62000    12-12-2020      Delhi
18  18     arjun      Sales        33     54000    20-05-2018     Mumbai
19  19     Pooja         HR        28     51000    05-08-2021      delhi
20  20      Aman         IT        25    70,000    15-01-2023  Bangalore
21  21    Shweta    Finance        29     75000    11-11-2019       Pune
22  22     Kunal      Sales        34       NaN    21-09-2017      Delhi
23  23     Nisha         HR  24 years     49000    05-05-2022     Mumbai
24  24      Ravi         IT        27     68000    10-10-2020    Chennai
25  25      Amit      Sales        25    50,000  Jan 10, 2021      delhi
26  25      Amit      Sales        25    50,000  Jan 10, 2021      delhi
27  26    Tara      Finance        31     82000    12-04-2018  Bangalore
28  27      Yash         IT        26   63000/-    01-12-2021      Delhi
29  28     Divya         HR       NaN     55000    19-07-2019       Pune
30  29  Sameer        Sales  30 years     53000    14-02-2020     Bombay
31  30    Ishita         it        28     69000    30-08-2022    Chennai
32  31    Ishita         IT        28    $69000    30-08-2022    Chennai
33  32    manish    Finance        35     88000    25-01-2017      Delhi
34  33      Ravi         IT        27     68000    10-10-2020    Chennai
35  34     Aryan         HR        29     59000    05-11-2020       Pune
36  34     Aryan         HR        29     59000    05-11-2020       Pune
37  35    Simran         It        32       NaN    14-05-2016     mumbai
38  36     Kabir    Finance  27 years     72000    20-10-2021    delhi
39  37      Riya         HR       NaN     60000    15-05-2020     Bombay
40  38     Aditi      Sales        30     55000    28-02-2019    Chennai
41  39     Akash         IT        26    64,000    07-07-2021  Bangalore
42  40      Zoya         HR        25     50000    18-06-2022      Delhi
43  41     Abhay    Finance        38     92000    12-12-2015       Pune
44  42     deepa      Sales  27 years     49000    09-09-2020     Mumbai
45  43     Sahil         IT       NaN   71000/-    01-04-2023    Chennai
46  44    Pankaj    Finance        33     81000    22-11-2018      Delhi
47  45  Kavita           HR        26     53000    05-10-2021  Bangalore
48  46     Suraj      Sales        31   $56,000    14-08-2017       Pune
49  47     Suraj      Sales        31     56000    14-08-2017       Pune
50  48     Divya         HR       NaN     55000    19-07-2019       Pune
51  49       Raj    Finance        29     77000    15-05-2019    Chennai
52  50     Heena         HR        30  58,000/-    20-02-2020         Dl

## Initial Data Inspection

In [3]:
df.shape

(53, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            53 non-null     int64
 1   name          53 non-null     object
 2   department    53 non-null     object
 3   age           46 non-null     object
 4   salary        49 non-null     object
 5   joining_date  53 non-null     object
 6   city          53 non-null     object
dtypes: int64(1), object(6)
memory usage: 3.0+ KB

In [5]:
df.isna().sum()

id              0
name            0
department      0
age             7
salary          4
joining_date    0
city            0
dtype: int64

In [6]:
df.memory_usage(deep=True)

Index            132
id               424
name            2871
department      2818
age             2606
salary          2795
joining_date    3131
city            2904
dtype: int64

## Handle `name` Column

### Remove Whitespace

In [7]:
df["name"] = df["name"].str.strip()

### Case Normalization

In [8]:
df["name"] = df["name"].str.title()

## Handle `department` Column

### Remove Whitespace

In [9]:
df["department"] = df["department"].str.strip()

### Case Normalization

In [10]:
df["department"] = df["department"].str.upper()

### Conversion to `category` type

In [11]:
df["department"] = df["department"].astype("category")

## Handle `age` Column

### Remove ` years`

In [12]:
df["age"] = df["age"].str.replace(" years", "").str.strip()

### Filling Missing Values with median

In [13]:
df["age"] = df["age"].astype("float") # object to float
df["age"] = df["age"].fillna(df["age"].median())

### Conversion to `Int8` type

In [14]:
df["age"] = df["age"].astype("int8")

## Handle `salary` Column

### Remove `$`, `,`, `/-`

In [15]:
df['salary'] = df['salary'].str.replace(r'[\$,/-]', '', regex=True)

### Conversion to `float` type

In [16]:
df['salary'] = df['salary'].astype("float")

### Filling Missing Values with median

In [17]:
df["salary"] = df["salary"].fillna(df.groupby("department")["salary"].transform("median"))

C:\Users\hitek\AppData\Local\Temp\ipykernel_5980\376837392.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df["salary"] = df["salary"].fillna(df.groupby("department")["salary"].transform("median"))

**Assumption**: Missing salary values were filled using the median to reduce the impact of outliers.

## Handle `joining_date` Column

### Conversion to `datetime` type

In [18]:
df["joining_date"] = pd.to_datetime(df["joining_date"], format="mixed", errors='coerce')

## Handle `city` Column

### Remove Whitespace

In [19]:
df["city"] = df["city"].str.strip()

### Case Normalization

In [20]:
df["city"] = df["city"].str.upper()
df["city"].unique()

array(['DELHI', 'MUMBAI', 'BANGALORE', 'DL', 'CHENNAI', 'PUNE', 'BOMBAY'],
      dtype=object)

bool_map = {
    'True': True, 'Yes': True, 1: True, '1': True,
    'False': False, 'No': False, 0: False, '0': False
}
df['is_full_time'] = df['is_full_time'].map(bool_map).astype('boolean')

In [21]:
bool_map = {
    "DL": "DELHI", "DELHI": "DELHI", "BANGALORE": "BANGALORE",
    "BOMBAY": "MUMBAI", "MUMBAI": "MUMBAI",
    "CHENNAI": "CHENNAI", "PUNE": "PUNE"
           }
df["city"] = df["city"].map(bool_map).astype("category")
df["city"] = df["city"].str.title()

## Handle Duplicates

### Check Duplicates Values

In [22]:
df.duplicated().sum()

np.int64(3)

### Actual duplicate rows

In [23]:
df[df.duplicated(keep=False, subset=["name", "department", "city"])]

    id    name department  age   salary joining_date     city
0    1    Amit      SALES   25  50000.0   2021-10-01    Delhi
1    2    Riya         HR   29  60000.0   2020-05-15   Mumbai
4    5    Amit      SALES   25  50000.0   2021-10-01    Delhi
9   10    Amit      SALES   25  50000.0   2021-10-01    Delhi
14  15   Varun    FINANCE   40  95000.0   2016-10-30  Chennai
15  15   Varun    FINANCE   40  95000.0   2016-10-30  Chennai
16  16   Varun    FINANCE   40  95000.0   2016-10-30  Chennai
24  24    Ravi         IT   27  68000.0   2020-10-10  Chennai
25  25    Amit      SALES   25  50000.0   2021-01-10    Delhi
26  25    Amit      SALES   25  50000.0   2021-01-10    Delhi
29  28   Divya         HR   29  55000.0   2019-07-19     Pune
31  30  Ishita         IT   28  69000.0   2022-08-30  Chennai
32  31  Ishita         IT   28  69000.0   2022-08-30  Chennai
34  33    Ravi         IT   27  68000.0   2020-10-10  Chennai
35  34   Aryan         HR   29  59000.0   2020-05-11     Pune
36  34   Aryan         HR   29  59000.0   2020-05-11     Pune
39  37    Riya         HR   29  60000.0   2020-05-15   Mumbai
48  46   Suraj      SALES   31  56000.0   2017-08-14     Pune
49  47   Suraj      SALES   31  56000.0   2017-08-14     Pune
50  48   Divya         HR   29  55000.0   2019-07-19     Pune

In [24]:
df.drop_duplicates(subset=["name", "department", "city"], keep='last', inplace=True)

## Handle `id` Column

### Reset the index and drop the old index

In [25]:
df.reset_index(drop=True, inplace=True)

### Reset the `id` column

In [26]:
df["id"] = pd.Series(np.arange(1, len(df["id"]) + 1))

## After Data Cleaning

In [27]:
df

    id    name department  age   salary joining_date       city
0    1    John         IT   28  55000.0   2019-03-15      Delhi
1    2    Neha      SALES   35  50000.0   2018-01-07  Bangalore
2    3  Vikram         IT   30  72000.0   2022-11-20    Chennai
3    4   Sonia         HR   29  58000.0   2021-12-09     Mumbai
4    5   Rahul      SALES   29  45000.0   2017-10-04      Delhi
5    6   Priya         IT   24  65000.0   2023-01-22       Pune
6    7   Karan    FINANCE   32  80000.0   2019-05-12  Bangalore
7    8   Sneha         HR   27  52000.0   2021-03-18     Mumbai
8    9   Rohan         IT   31  68000.0   2021-06-25      Delhi
9   10  Anjali      SALES   26  48000.0   2022-02-14       Pune
10  11   Varun    FINANCE   40  95000.0   2016-10-30    Chennai
11  12   Megha         IT   29  62000.0   2020-12-12      Delhi
12  13   Arjun      SALES   33  54000.0   2018-05-20     Mumbai
13  14   Pooja         HR   28  51000.0   2021-05-08      Delhi
14  15    Aman         IT   25  70000.0   2023-01-15  Bangalore
15  16  Shweta    FINANCE   29  75000.0   2019-11-11       Pune
16  17   Kunal      SALES   34  50000.0   2017-09-21      Delhi
17  18   Nisha         HR   24  49000.0   2022-05-05     Mumbai
18  19    Amit      SALES   25  50000.0   2021-01-10      Delhi
19  20    Tara    FINANCE   31  82000.0   2018-12-04  Bangalore
20  21    Yash         IT   26  63000.0   2021-01-12      Delhi
21  22  Sameer      SALES   30  53000.0   2020-02-14     Mumbai
22  23  Ishita         IT   28  69000.0   2022-08-30    Chennai
23  24  Manish    FINANCE   35  88000.0   2017-01-25      Delhi
24  25    Ravi         IT   27  68000.0   2020-10-10    Chennai
25  26   Aryan         HR   29  59000.0   2020-05-11       Pune
26  27  Simran         IT   32  68000.0   2016-05-14     Mumbai
27  28   Kabir    FINANCE   27  72000.0   2021-10-20      Delhi
28  29    Riya         HR   29  60000.0   2020-05-15     Mumbai
29  30   Aditi      SALES   30  55000.0   2019-02-28    Chennai
30  31   Akash         IT   26  64000.0   2021-07-07  Bangalore
31  32    Zoya         HR   25  50000.0   2022-06-18      Delhi
32  33   Abhay    FINANCE   38  92000.0   2015-12-12       Pune
33  34   Deepa      SALES   27  49000.0   2020-09-09     Mumbai
34  35   Sahil         IT   29  71000.0   2023-01-04    Chennai
35  36  Pankaj    FINANCE   33  81000.0   2018-11-22      Delhi
36  37  Kavita         HR   26  53000.0   2021-05-10  Bangalore
37  38   Suraj      SALES   31  56000.0   2017-08-14       Pune
38  39   Divya         HR   29  55000.0   2019-07-19       Pune
39  40     Raj    FINANCE   29  77000.0   2019-05-15    Chennai
40  41   Heena         HR   30  58000.0   2020-02-20      Delhi

In [28]:
df.shape

(41, 7)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            41 non-null     int64
 1   name          41 non-null     object
 2   department    41 non-null     category
 3   age           41 non-null     int8
 4   salary        41 non-null     float64
 5   joining_date  41 non-null     datetime64[ns]
 6   city          41 non-null     object
dtypes: category(1), datetime64[ns](1), float64(1), int64(1), int8(1), object(2)
memory usage: 2.0+ KB

In [30]:
df.isna().sum()

id              0
name            0
department      0
age             0
salary          0
joining_date    0
city            0
dtype: int64

In [31]:
df.memory_usage(deep=True)

Index            132
id               328
name            2212
department       425
age               41
salary           328
joining_date     328
city            2253
dtype: int64

## Write CSV

In [32]:
df.to_csv("Clean_Data.csv", index=False)

## Before vs After Cleaning
- Missing values  handled
- Duplicate rows  removed
- Inconsistent text  standardized
- Incorrect data types  validated

## What This Project Demonstrates
- Real-world data cleaning using Pandas
- Structured and reproducible workflow
- Importance of data validation before analysis