# Pandas Series

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [1]:
import pandas as pd, numpy as np

## Labels

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [6]:
s = pd.Series([11, 22, 33, 44])
s

(0    11
 1    22
 2    33
 3    44
 dtype: int64,
 dtype('int64'))

Automatic index: 0, 1, 2, 3

## Create Labels
With the index argument

In [3]:
l = [11, 22, 33]
idx = ["A", "B", "C"]
s = pd.Series(l, index=idx)
s

A    11
B    22
C    33
dtype: int64

## Key/Value Objects as Series
We can also use a key/value object, like a dictionary, when creating a Series.

In [4]:
fruit_with_price = {"Apple": 120, "Banana": 60, "Cherry": 85}
s = pd.Series(fruit_with_price)
s

Apple     120
Banana     60
Cherry     85
dtype: int64

## Operations Between Two Series
- For indices present in both Series, the operation is performed on the corresponding values.
- For indices present in only one Series, the resulting value at that index will be NaN (Not a Number).

In [5]:
s1 = pd.Series([11, 22, 33], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], index=['b', 'c', 'd'])
s1 + s2

a     NaN
b    23.0
c    35.0
d     NaN
dtype: float64

## Summary
- Series is a 1D labeled data structure
- Index provides powerful labeled access
- Series supports alignment and vectorized operations